{% extends 'base.html.twig' %}

{% block title %}
    {{ 'category.category_list'|trans }}
{% endblock %}

{% block body %}
    <h1 class="text-center">{{ 'category.category_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <main class="container my-5">
            <div class="row">
                {% for category in pagination.items %}
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <img src="#" class="card-img-top" alt="{{ category.title }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ category.title }}</h5>
                                <p class="card-text">{{ category.title }}</p>
                                <a href="{{ url('show_task_list', {categoryName: category.title}) }}" title="{{ 'action
                                .show'|trans
                                }}">
                                    {{ 'action.show'|trans }}
                                </a>

                                <a href="{{ url('category_edit', {id: category.id}) }}" title="{{ 'action
                        .show'|trans }}">
                                    {{ 'action.edit'|trans }}
                                </a>

                                <a href="{{ url('category_delete', {id: category.id}) }}" title="{{ 'action
                        .show'|trans }}">
                                    {{ 'action.delete'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </main>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}