{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.user_list'|trans }}
{% endblock %}

{% block body %}
    <div class="text-center">
        <h1>{{ 'title.user_list'|trans }}</h1>
        <a href="{{ url('app_register', {redirect: 'admin_users'}) }}" class="btn btn-primary btn-lg">
            {{ 'label.create'|trans }}
        </a>
    </div>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'user.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.email'|trans, 'user.email') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.roles'|trans, 'user.roles') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.password'|trans, 'user.password') }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>

            <tbody>
            {% for user in pagination.items %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% for role in user.roles%}
                            <span>{{ role }}</span>
                        {% endfor %}
                    </td>
                    <td>{{ user.password }}</td>
                    <td>
                        <a href="{{ url('admin_edit_user', {id: user.id, redirect: 'admin_users'}) }}" class="btn
                        btn-secondary"
                           title="{{ 'action.edit'|trans }}">
                            {{ 'action.edit'|trans }}
                        </a>

                        <a href="{{ url('admin_delete_user', {id: user.id, redirect: 'admin_users'}) }}" class="btn
                        btn-danger"
                           title="{{ 'action.delete'|trans }}">
                            {{ 'action.delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}
