{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.task_details'|trans({'%id%': task.id|default('')}) }}
{% endblock %}

{% block body %}

{% if task is defined and task|length %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <!-- Blog Post Card -->
                <div class="card">
                    <div class="card-header bg-white text-center">
                        <h2 class="card-title">{{ task.title }}</h2>
                        {% if task.thumbnail %}
                            <img src="{{ asset('uploads/thumbnails/' ~ task.thumbnail.filename) }}" alt="Thumbnail"
                                 class="img-fluid">
                        {% else %}
                            <p class="text-center">{{ 'label.no_thumbnail_available'|trans }}</p>
                        {% endif %}
                    </div>
                    <div class="card-body text-center">
                            {% if is_granted('EDIT', task) %}
                                <a href="{{ url('task_edit', {id: task.id}) }}" class="btn btn-secondary"
                                   title="{{ 'action.edit'|trans }}">
                                    {{ 'action.edit'|trans }}
                                </a>
                            {%endif %}

                            {% if is_granted('DELETE', task) %}
                                <a href="{{ url('task_delete', {id: task.id}) }}" class="btn btn-danger"
                                   title="{{ 'action.delete'|trans }}">
                                    {{ 'action.delete'|trans }}
                                </a>
                            {% endif %}
                        </div>

                        <p class="text-muted">Kategoria: {{ task.category.title }}</p>
                        <p class="card-text">Utworzono: <span class="badge bg-info">{{ task.createdAt|format_date
                                    ('long') }}</span></p>
                        <p class="card-text">Zaktualizowano: <span class="badge bg-success">{{ task
                                .updatedAt|format_date
                                    ('long')
                                }}</span></p>
                        <div class="my-4">
                        </div>
                    </div>
                </div>

                <!-- Comment Section -->
                <div class="mt-5">
                    {% if is_granted('CREATE_COMMENT', task) %}
                        <div class="text-center">
                            <a href="{{ url('comment_create', {taskId: task.id}) }}" class="btn btn-secondary"
                               title="{{ 'action.create_comment'|trans }}">
                                {{ 'action.create_comment'|trans }}
                            </a>
                        </div>
                    {%endif %}
                    <h3>Komentarze</h3>
                    {% if pagination.items is not empty %}
                        <ul class="list-group">
                            {% for comment in pagination.items %}
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between">
                                        <p class="fw-bold">{{ comment.author.email }}</p>
                                        <p class="text-muted">{{ comment.createdAt|format_date('long' )}}</p>
                                    </div>
                                    <p>{{ comment.content }}</p>

                                    {% if is_granted('DELETE', comment) %}
                                        <div class="d-flex justify-content-end">
                                            <a href="{{ path('comment_delete', {taskId: task.id, id: comment.id})
                                            }}"
                                                class="btn btn-danger btn-sm"
                                                title="{{ 'action.delete' }}">
                                                {{ 'action.delete'|trans }}
                                            </a>
                                        </div>
                                    {% endif %}

                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="text-muted">{{ 'message.no_comments'|trans }}</p>
                    {% endif %}
                </div>
            </div>
        </div>

    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}